option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
    PYTHONPATH: /opt/python/current/app/sclab_web:$PYTHONPATH
  aws:elasticbeanstalk:container:python:
    WSGIPath: sclab_web/config/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: static/
