{% extends 'web/base.html' %}

{% block content %}

<div id="mainwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Incheon National University</h3>
        <h1>Scalable Computing Lab.</h1>
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
</div>

<!-- *****************************************************************************************************************
SERVICE LOGOS
***************************************************************************************************************** -->
<div id="service">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h2>저희 랩에서는 계산과학과 고성능 컴퓨팅에 대해서 연구합니다. 기계공학, 컴퓨터공학등에서 널리쓰이는 수치 최적화, 메쉬 생성, 메쉬 최적화, 메쉬 변형, 시뮬레이션 모델링 에 대해서 연구하고, 최근에 각광받고 있는 슈퍼컴퓨터와 같은 멀티코어 환경에서 병렬 컴퓨팅 (OpenMP, MPI, CUDA)을 이용한 계산속도 향상, 계산 정확도 향상등에 대해서 연구합니다. 이외에도 요새 컴퓨터 공학 분야에서 각광 받는 기계학습, 패턴인식, 딥 러닝에 관해서도 연구합니다.</h2>
        <p><br/><a href="/professor" class="btn btn-theme">Learn more about us</a></p>
      </div>
    </div>
  </div><!--/container -->
</div><!--/service -->


<!-- *****************************************************************************************************************
MIDDLE CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
  <div class="row">
    <div class="col-lg-6">
      <h3>연구실에 들어오면?</h3>
      <div class="hline"></div>
      <h4>학부 과정</h4>
      <p>연구 과제 참여 기회 제공 및 연구비 지원</p>
      <h4>석사 과정</h4>
      <p>1) 등록금 전액 및 매달 연구비 지원</p>
      <p>2) 해외 학회 참가 기회 제공</p>
      <p>3) 취업 연계 기회 제공</p>
    </div>

    <div class="col-lg-6">
      <h3>Lab News</h3>
      <div class="hline"></div>
      {% for new in news %} 
      <p><a href="/news">{{ new.title }}</a></p>
      {% endfor %} 
   </div>

  </div><!--/row -->
</div><!--/container -->
{% endblock %}
