{% extends 'web/base.html' %}

{% block content %}
<div class="container mtb">
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="row centered">
    <h1 class="mb">News</h1>
  </div>
  <div class="row">

    <!-- BLOG POSTS LIST -->
    <div class="col-lg-10 col-lg-offset-1">
      <ul>
        <!-- Blog Post -->
        {% for new in news %}
        <a href="/news/{{ new.id }}">
          <li>
            <h3>{{ new.title }}</h3>
            <h5>{{ new.date }}</h5>
            <div class="spacing"></div>
          </li>
        </a>
        {% endfor %}
    </ul>
    </div><!--/col-lg-8 -->
  </div><!--/row -->
</div><!--/container -->
{% endblock %}
