{% extends 'web/base.html' %}

{% block content %}

<div class="container mtb">
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="row centered">
    <h1 class="mb">News</h1>
  </div>
  <div class="row">

    <!-- BLOG POSTS LIST -->
    <div class="col-lg-10 col-lg-offset-1">

      <!-- Blog Post -->
      {% for new in news %}
      <p class="centered"><img class="img-responsive" src="{{ new.image.url }}"></p>
      <h3>{{ new.title }}</h3>
      <p><csmall>{{ new.date }}</csmall>
      <p>{{ new.content}}</p>
      <div class="spacing"></div>
      {% endfor %}

    </div><!--/col-lg-8 -->
  </div><!--/row -->
</div><!--/container -->

{% endblock %}

