{% extends 'web/base.html' %}

{% block content %}
<div class="container mt">
  <div class="row">

    <div class="col-lg-4 col-lg-offset-1">
      <div class="spacing"></div>
      <div class="spacing"></div>
      {% for pro in professors %}
      <div class="centered">
        <img src="{{ pro.image.url }}" alt="">
      </div>
      <div class="spacing"></div>
      <h2>{{ pro.ename }}</h2>
      <div class="hline"></div>
      <h4>{{ pro.state }}</h4>
      <p>{{ pro.organization }}</p>
      <p><b>Office: </b>{{ pro.address }}</p>
      <p><b>Tel: </b>{{ pro.phone }}</p>
      <p><b>E-mail: </b>{{ pro.email }}</p>
      {% endfor %}

      <div class="spacing"></div>
      <div class="spacing"></div>

      <h4>Education</h4>
      {% for edu in educations %}
        <p><b>{{ edu.degree }}</b> {{ edu.organization }} ({{ edu.date }})</p>
      {% endfor %}
    </div>

    <div class="col-lg-5 col-lg-offset-1">
      <div class="spacing"></div>
      <h4>Experience</h4>
      <ul>
      {% for exp in experiences %}
        <li> {{ exp.date }} - {{ exp.content }}</li>
      {% endfor %}
      </ul>
      <div class="spacing"></div>
      <div class="spacing"></div>
      <h4>Lecture</h4>
      <ul>
      {% for lec in lectures %}
        <li> {{ lec.time }} {{ lec.course }} {{ lec.grade }}</li>
      {% endfor %}
      </ul>
    </div>

  </div><!--/row -->
</div><!--/container -->
{% endblock %}
