{% extends 'web/base.html' %}

{% block content %}
<div class="container mtb">
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="row centered">
    <h1 class="mb">Projects</h1>
  </div>
  <div class="row">

    <!-- BLOG POSTS LIST -->
    <div class="col-lg-10 col-lg-offset-1">
      <ul>
        <!-- Blog Post -->
        {% for project in projects %}
        <li>
          <h3>{{ project.title }} ( {{ project.date }} )</h3>
          <h5>지원 기관 : {{ project.organization }} / 총 연구비 : {{ project.cost }}</h5>
          <div class="spacing"></div>
        </li>
        {% endfor %}
    </ul>
    </div><!--/col-lg-8 -->
  </div><!--/row -->
</div><!--/container -->
{% endblock %}

