{% extends 'web/base.html' %}

{% block content %}
<div class="container mtb">
  <div class="row centered">
    <br>
    <br>
    <h1 class="mb">Publications</h1>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      {% for pub in publications %}
      <h2>{{ pub.date }}</h2>
      <ul>
        {% for p in pub.pub %}
        {% if p.link %}
          <a href="{{p.link}}">
        {% endif %}
          <li style="margin-bottom: 10px;"><strong style="color: #3b5998">{{ p.title }}</strong><br>
        {% if p.link %}
          </a>
        {% endif %}
          {{ p.author }}<br>
          <i>{{ p.journal }}, {{ p.date }}</i>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div><!--/row -->
</div><!--/container -->
{% endblock %}
